###############################################################################
# Directus
###############################################################################

DIRECTUS_PORT=8055

SECRET=replace-with-a-long-random-secret

PUBLIC_URL=https://cms.yourdomain.com

ADMIN_EMAIL=admin@yourdomain.com
ADMIN_PASSWORD=ChangeMe123!

###############################################################################
# Database
###############################################################################

DB_CLIENT=pg

DB_HOST=ep-xxxxx.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_USER=neondb_owner
DB_PASSWORD=xxxxxxxx

DB_SSL=true

###############################################################################
# Storage
###############################################################################

STORAGE_LOCATIONS=local