###############################################################################
# Directus
###############################################################################

DIRECTUS_PORT=8055

SECRET=replace-with-a-long-random-secret

PUBLIC_URL=https://cms.yourdomain.com

ADMIN_EMAIL=admin@yourdomain.com
ADMIN_PASSWORD=ChangeMe123!

###############################################################################
# Database
###############################################################################

DB_CLIENT=sqlite3
DB_FILENAME=/directus/database/data.db

###############################################################################
# Storage
###############################################################################

STORAGE_LOCATIONS=local